
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/tests/auth-module/userInfo.json
#еще хотел вынести данные из фикстур.Пока думаю про реализацию
#скорее всего создам переменные окружения и запишу их туда