*.class
*.jar
*.war
*.ear
*.kt.bak

.idea/
*.iml
*.ipr
*.iws
out/

target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

*.log

**/test-results/
**/surefire-reports/
**/failsafe-reports/
**/test-report.html

.DS_Store
Thumbs.db
*.swp
*.swo

.env
.env.local

*.orig
*.bak
*.kts~

